sudo: required
before_install:
  - sudo apt-get install texi2html
  - sudo apt-get install texinfo
  - sudo apt-get install gperf
  - sudo apt-get install cvs
  - sudo apt-get install xsltproc
  - sudo apt-get install emerge
  - sudo apt-get install libxml-parser-perl


  
# Enable C++ support
language: cpp

# Compiler selection
compiler:
  - gcc
 
script:
  - DISTRO=Lakka PROJECT=H3 SYSTEM=opipc ARCH=arm make image -j9
